.primary-button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 3px;
  transition: .25s all ease-in-out;

  &.black {
    color: var(--white);
    background-color: var(--black-1);
    border: 2px solid var(--white);

    &:hover {
      color: var(--black-1);
      background-color: var(--white);
    }
  }

  &.white {
    color: var(--black-1);
    background-color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--black-1);
    }
  }
}
