@import '../../../../../assets/scss/helpers';

:host {
  @include host-styles;
}

.workspace {
  @include flex($jc: center, $ai: center, $fg: 1);

  min-height: 0;
}

.math-functions{
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--black-1);

  &__header {
    font-size: 18px;
    color: var(--white);
  }

  &__divider {
    height: 1px;
    background-color: var(--white);
    border: none;
  }

  &__actions {
    @include flex();

    margin-bottom: 15px;
  }
}

.user-number {
  margin-bottom: 15px;
}

.count-result-button {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}
