@import '../../../assets/scss/helpers';

:host {
  @include flex(column, $fsh: 0);

  position: relative;
  width: 300px;
  height: 100vh;
  border-right: 1px solid var(--black);
}

.header {
  @include flex($ai: center);

  height: 60px;
  padding: 0 20px;
  color: var(--white);
  background-color: var(--black-1);
}

.lab-list {
  @include flex(column);
}
