<app-page-layout>
  <ng-container pageHeader>
    <span>Лабораторная №1 - Задание №1</span>
  </ng-container>

  <ng-container pageContent>
    <div>Выполненное задание находится внутри кода приложения.</div>

    <br>

    <div>
      1) Модель "Принтер" описана в файле<br>
      <i><b>project_folder/src/app/labs/lab1/components/task1/printer.models.ts</b></i>
    </div>

    <br>

    <div>
      2) Модель "Текстовое поле" описана в файле<br>
      <i><b>project_folder/src/app/labs/lab1/components/task1/text-field.models.ts</b></i>
    </div>
  </ng-container>
</app-page-layout>
