@import '../../../../../assets/scss/helpers';

:host {
  @include host-styles;
}

.workspace {
  @include flex($jc: center, $ai: center, $fg: 1);

  min-height: 0;
}

.calculator {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--black-1);

  &__header {
    font-size: 18px;
    color: var(--white);
  }

  &__divider {
    height: 1px;
    background-color: var(--white);
    border: none;
  }

  &__actions-panel {
    @include flex(column);

    margin-top: 15px;

    .button-row {
      @include flex();

      .action {
        @include flex($jc: center, $ai: center);

        cursor: pointer;
        width: 60px;
        height: 60px;
        font-size: 20px;
        background-color: var(--gray-light);
        border: 1px solid var(--black-1);
        transition: .25s all ease-in-out;

        &.number {
          background-color: var(--white);
        }

        &:hover {
          background-color: var(--gray-medium);
        }
      }
    }
  }
}
