<app-page-layout>
  <ng-container pageHeader>
    <span>Лабораторная №1 - Задание №7</span>
  </ng-container>

  <ng-container pageContent>
    <div class="workspace">
      <div class="calculator">
        <div class="calculator__header">
          <span>Калькулятор</span>
        </div>

        <hr class="calculator__divider">

        <div class="calculator__field">
          <app-input-field
            class="user-input"
            id="user-number"
            type="text"
            placeholder=""
            [readonly]="true"
            [formControl]="currentValueControl"
          >
          </app-input-field>
        </div>

        <div class="calculator__actions-panel">
          <div class="button-row">
            <button class="action in-memory" (click)="memoryAdd()">
              <span>M+</span>
            </button>

            <button class="action clear-last" (click)="clearLast()">
              <span>CE</span>
            </button>

            <button class="action clear-all" (click)="clearValue()">
              <span>C</span>
            </button>

            <button class="action backspace" (click)="backspace()">
              <mat-icon>backspace</mat-icon>
            </button>

            <button class="action divide" (click)="chooseOperation(operations.Divide)">
              <span>/</span>
            </button>
          </div>

          <div class="button-row">
            <button class="action clear-memory" (click)="clearMemory()">
              <span>MC</span>
            </button>

            <button class="action number" (click)="pushNumber(7)">
              <span>7</span>
            </button>

            <button class="action number" (click)="pushNumber(8)">
              <span>8</span>
            </button>

            <button class="action number" (click)="pushNumber(9)">
              <span>9</span>
            </button>

            <button class="action multiply" (click)="chooseOperation(operations.Multiply)">
              <span>*</span>
            </button>
          </div>

          <div class="button-row">
            <button class="action memory-remember" (click)="memoryRemember()">
              <span>MR</span>
            </button>

            <button class="action number" (click)="pushNumber(4)">
              <span>4</span>
            </button>

            <button class="action number" (click)="pushNumber(5)">
              <span>5</span>
            </button>

            <button class="action number" (click)="pushNumber(6)">
              <span>6</span>
            </button>

            <button class="action minus" (click)="chooseOperation(operations.Minus)">
              <span>-</span>
            </button>
          </div>

          <div class="button-row">
            <button class="action square" (click)="toSquare()">
              <span>x2</span>
            </button>

            <button class="action number" (click)="pushNumber(1)">
              <span>1</span>
            </button>

            <button class="action number" (click)="pushNumber(2)">
              <span>2</span>
            </button>

            <button class="action number" (click)="pushNumber(3)">
              <span>3</span>
            </button>

            <button class="action plus" (click)="chooseOperation(operations.Plus)">
              <span>+</span>
            </button>
          </div>

          <div class="button-row">
            <button class="action square" (click)="sqrt()">
              <span>sqrt</span>
            </button>

            <button class="action sign" (click)="toggleSign()">
              <span>+ / -</span>
            </button>

            <button class="action number" (click)="pushNumber(0)">
              <span>0</span>
            </button>

            <button class="action dot" (click)="pushDot()">
              <span>.</span>
            </button>

            <button class="action equal" (click)="countResult()">
              <span>=</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-page-layout>
